<div id="<%= dom_id outing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Boat:</strong>
    <%= outing.boat_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= outing.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Distance:</strong>
    <%= outing.distance %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this outing", outing, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this outing", edit_outing_path(outing), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
