<div id="<%= dom_id boat %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= boat.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= boat.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= boat.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Boat Type:</strong>
    <%= boat.boat_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Coxxed:</strong>
    <%= boat.coxxed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Distance:</strong>
    <%= boat.distance %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Available:</strong>
    <%= boat.available %>
  </p>

  <% if action_name != "show" %>
    <%= link_to boat, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" do %>

    <% end %>
    <%= link_to "Edit this boat", edit_boat_path(boat), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
